body { font-family: 'Segoe UI', sans-serif; background: #fafafa; text-align: center; }
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}
.gallery img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.gallery img:hover { transform: scale(1.05); }


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}
.modal-content { max-width: 80%; max-height: 80%; border-radius: 10px; }
